@import "./custom.css";
@import "./admin_index1.css";
@import "./CSS3_Text.css";
@import "./mall/category.css";

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: var(--color-white2);
}

html body{
	height: 100vh;
	width: 100vw;
	font-size: 20px;
}

.app-main{
		min-height: 100vh;
	    display: flex;
	    flex-flow: column;
	    align-items: stretch;
	    justify-content: stretch;
}