@import "./custom.css";
@import "./index.css";



*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: var(--color-white2);
}

html body{
	height: 100vh;
	width: 100vw;
}

.app-main{
	height: 100vh;
	width: 100vw;
}