.category-main{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}
/*----------------header------------------*/

.category-header{
	height: 45px;
	width: 100vw;
	border-bottom:1px solid #ccc ;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}


.category-header>div:nth-child(1){
	    display: flex;
	    flex-flow: row;
	    align-items: center;
}
.category-header>div:nth-child(2){
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 8px 15px;
}
.category-header #search_box{
	flex: 1;
	border: none;
	background-color: #f7f7f7;
	border-radius: 30px;
	outline: none;
}
.category-header>div:nth-child(3){
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-right: 10px;
}
/*--------------body-------------------*/
.category-body{
	display: flex;
	flex-flow:row nowrap;
	align-items: stretch;	
	flex: 1;
}
.category-body>aside{
	width: 86px;
	background-color: #CCCCCC;
}
.category-body>aside>ul{
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 10px;
}
.category-body>aside>ul>li{
	text-align: center;
	list-style: none;
	margin-top: 5px;
	width: 100%;
	border-radius: 3px;
}
.category-body>aside>ul>li:hover{
	background-color: #FAEBD7;
}
.category-body>aside>ul>li:{
	background-color: #FAEBD7;
}
.category-body>article{
	flex: 1;
	background-color: #6495ED;
}


/*-----------------footer---------------------*/
.category-footer{
	height: 45px;
	border-top:1px solid #ccc ;
	
}

.category-footer>ul{
	height: 45px;
	border-top:1px solid #ccc ;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}
.category-footer>ul>li{
	list-style: none;
}
